/* Color Themes */

/* Prussian Blue = 0B3C5D */
/* Sky Blue = 328CC1 */
/* Gold Leaf = D9B310 */
/* Ivory Black = 1D2731 */

/* Navy Blue = 0F1626 */
/* Leather = AB987A */
/* Coral = FF533D */
/* Eggshell = F5F5F5*/

/* Blue Topaz = 67AECA */
/* Amethyst = 675682 */
/* Jewel = 5F0F4E */
/* Rose = E52A6F */

/* Stormy = 494E6B */
/* Cloud = 98878F */
/* Sunset = 985E6D */
/* Evening = 192231 */

/* Clean = E8E8E8 */

/* Cool Grey = CDCDCD */

body {
    background: #494E6B;
    color: #F5F5F5;
    text-align: center;
    cursor: default;
}

.bold {
    font-weight: bold;
}

.noSelect {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
                                
  }

.mainDivBackground {
    background: #192231;
}

.mainDivBorder {
    border: solid;
    border-color: #F5F5F5;
}

.mainRow {
    margin: 100px 0px 0px 0px;
}

.displayImage {
    border: solid;
    border-color: #F5F5F5;
    width: 300px;
}

.finalImage {
    margin: 0px 0px 20px 0px;
}

p.displayStartButton {
    padding: 30px 20px;
}

p.displayStartButton:hover {
    background: #675682;
}

p.displayQuestion {
    color: #1D2731;
    background: #98878F;
    padding: 20px 30px;
    border: solid;
    border-color: #F5F5F5;
}

p.displayAnswerButton {
    padding: 5px 10px;
    background: #985E6D;
    color: #1D2731;
}

p.displayAnswerButton:hover {
    background: #675682;
}
/* 
p.displaySmallButton {
    padding: 5px 10px;
    background: #985E6D;
    color: #1D2731;
}

p.displaySmallButton:hover {
    background: #675682;
} */

p.displayButton {
    cursor: pointer;
    border: solid;
    border-color:#0B3C5D;
    background: #985E6D;
    color: #1D2731;
}